{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Maebe Foundation - Join us</title>
        <link rel="stylesheet" href="{% static 'Style.css' %}">
        <link href="{% static 'jqueryform.css' %}" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'jqueryform.js' %}"></script>
    </head>
    <body>
        <header class="navArea">
                <a href="Website.html"><img src="https://i.ibb.co/cQtkPYs/Website-Logo1.png" width="150"></a>
            <ul>
                <li class="moto">Bringing our furry friends home</li>
                <li><a href="">Our Work</a></li>
                <li><a href="">Gallery</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="scholarships.html">Scholarships</a></li>
                <li><a href="Signin.html">Sign In</a></li>
                <li><a href="JoinUs.html">Register</a></li>
            </ul>
        <br>
        </header>
        <section class="topcontainer">
        <div class="reg-container">
            <h2>Registration Page</h2>
                <h3>I am a</h3>
                <div class="dropdown">
                        <button class="dropbtn">Select One</button>
                        <div class="dropdown-content">
                          <a href="applicant.html">Applicant</a>
                          <a href="parent.html">Parent</a>
                          <a href="donor.html">Donor</a>
                        </div>
                      </div>

            </div>
        </section>
        <section class="bottom">
                <span class="ourinfo">
                    <p><strong>Maebe foundation</strong></p>
                    <p>Address: 4324 E. Pet Lover Rd, Phoenix, AZ 85004</p>
                    <p>Phone: (480) 333-5567</p>
                    <p>Email:<a href="">contact@maebefoundation.com</a></p>
                    <p>Website:<a href="Website.html">Maebefoundation.com</a></p>
                </span>
                <span class="links">
                    <ul>
                        <li><a href="">Get Involved</a></li><br>
                        <li><a href="">Blog</a></li><br>
                        <li><a href="webportal.html">Web Portal</a></li><br>
                    </ul>
                </span>
                <span class="links2">
                    <ul>
                        <li><a href="">Earnings</a></li><br>
                        <li><a href="">Events</a></li><br>
                        <li><a href="">Support</a></li><br>
                    </ul>
                </span>
            </section>
            <section>
                <footer class="site">
                    <a href="">Site Map</a>
                    |
                    <a href="">Terms & Conditions</a>
                    |
                    <a href="">Privacy Policy</a>
                    |
                    Copyright &copy; 2019
                </footer>
            </section>
    </body>
</html>